[*]
end_of_line = lf
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[*.md]
indent_size = 2

[*.json]
indent_size = 2

[*.yml]
indent_size = 2

[*.about]
indent_size = 2

[*.version]
indent_size = 2

[*.help]
indent_size = 2
